body {
  background-color: #470C7B;
}

img {
    margin: 10px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

h1 {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    font-weight: 900;
}
ul {
    list-style: none;
}
li {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin: 8px;
}
input[type=radio] {
    border: 2px;
    border-color: black;
    width: 20px;
    height: 1em;
}
p {
    font-family: 'Spartan', sans-serif;
}

/* Timer */

.timer {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: red;
    padding: 14px;
    margin-bottom: 10px;
}

/* Quiz Classes */
 .quizContainer {
    background-color: #F4E576;
    border-radius: 40px;
    width: 80%;
    padding: 30px;
}

.nextButton {
    border-radius: 43px;
    width:40%;
    text-align: center;
    background-color: green;
    color: white;
    font-family:'verdana', serif;
    position: relative;
    padding: 14px;
    margin: auto;
	font-size:25px;
    font-weight:bold;
    margin-left: 30%;
}

.question {
    color: white;
    font-family: 'Spartan', sans-serif;
    font-size: 1.5em;
	font-weight:bold;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 14px;
    padding-left: 30px;
    background-color: #1A1FC2;
}
.quizMessage {
    background-color: red;
    border-radius: 6px;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 5px;
	font-size:20px;
	font-weight:bold;
    font-family: 'Spartan', sans-serif;
    color: white;
	position:absolute;
	top:50%;
	left:40%;
}
.choiceList {
    font-family: 'Spartan', sans-serif;
    background-color: white;
    color: #000;
    font-size:12px;
    padding: 20px;
    width: 70%;
    margin-left: 15%;
	
}
.result {
    width: 40%;
    height: auto;
    border-radius: 6px;
    background-color: black;
    margin: auto;
	color:white;
    text-align: center;
	font-size:25px;
    font-family:'Verdana', serif;
	font-weight:bold;
	position:absolute;
	top:50%;
	left:30%;
}
/* End of Quiz Classes */
